body{
    margin: 0;
    font-family: Helvetica;
    color: dodgerblue;
}
a{
    text-decoration: none;
    color: dodgerblue;
}
.section-one{
    display: block;

}
.section-two{
    display: none;

}
.section-three{
    display: none;
}
.section-four{
    display: none;
}
h1{
    text-align: center;
}
#presentacion{
    font-size: 6em;
}
#nav-bar{
    background-color: white;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid goldenrod;
}
.img_home{
    width: 30%;
}
#container_nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.colum_div{
   flex-direction: column;
   flex: 1;
   display: flex;
   justify-content: center;
}
#logo_tec{
    width: 70%;
    margin-left: 20px;
}
#nombre_escuela{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#fix_tittle{
    flex: 6;
    font-size: 1.2em;
    font-weight: 600;
}

#list-menu{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
}
#list-menu li{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn-menu{ 
    background: transparent;
    font-style: none;
    text-decoration: none;
    color: rgb(1, 60, 119);
    border:none;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}
#list-menu li:hover{
    background-color: rgba(255, 210, 217, 0.685);
}
.subtitle{
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
}
#div-conteiner-image{
    width: 100%;
    text-align: center;
}
.art-temary{
    width: 100%;
}
.component-temary{
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    border: 0.5px solid goldenrod;
}
#div-header-temary{
    margin: 8px 16px;
    padding: 8px 0; 
    font-size: 1.2em;
    color: rgb(78, 78, 78);
    border-bottom: 0.5px solid goldenrod;
}
#div-body-temary ul li a{
    color: rgb(104, 104, 104);
    text-decoration: none;
}
.btn-temary{
    color: rgb(104, 104, 104);
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 1em;
    outline: none;
    cursor: pointer;
}
#div-body-temary ul li{
    text-decoration: none;
    list-style: upper-roman;
    color: goldenrod;
    padding: 5px 0;
}
.div-content-temary{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    padding: 14px 0; 
}
.conteiner-content-theme{
    width: 97%;
    margin: 0 auto;
    border-radius: 15px ;
    box-shadow: 0px 10px 13px -7px #949494, 11px 11px 13px 9px rgba(145,145,145,0);
    overflow: hidden;
}

#div-header-float-temary{
    font-size: 1.3em;
}
.header-content-theme{
    width: 100%;
    height: 100px;
    background-color: rgb(100, 177, 255);
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
.title-content-theme{
    color: white;
    margin-left: 20px;
    font-size: 1.3em;
}
.body-content-theme{
    padding: 50px 20px;
    color: rgb(73, 73, 73);

}
.art-conteiner-conclusion{
    width: 100%;
    height: 90vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-content-conclusion{
    background: white;
    width: 66%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0px 10px 13px -7px #949494, 11px 11px 13px 9px rgba(145,145,145,0);
    overflow: hidden;
}
.header-content-conclusion{
    width: 100%;
    height: 10%;
    display: flex;
    padding: 20px 20px 10px 20px;
    align-items: center;
    background: cornflowerblue;
}
.title-content-conclusion{
    font-size: 1.5em;
    color: white;
}
.img-left{
    margin-bottom: 20px;
    display: flex;
    margin-left: 3%;
}
.img-rigth{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;

}
.body-content-conclusion{
    padding: 20px;
}
.img-10{
    width: 10%;
}
.img-30{
    width: 30%;
}
.img-50{
    width: 50%;
}
.img-100{
    width: 100%;
}
#ul-list-links li{
    padding: 8px 0;
}